/****************************** */
/*    Navigation Section  */
/****************************** */

.navigation-container {
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
}
.nav-bar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-logo-image {
  height: 4rem;
}
.user-image {
  margin-right: 2.2rem;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}
.nav-bar.main-nav-list {
  width: 100%;
  text-align: right;
}
.main-nav-list {
  display: flex;
  list-style: none;

  gap: 3.2rem;
  align-items: center;
  padding-right: 9.5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s;
}

/* Sub menu down to Profile photo*/

.user-menu-wrap {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 250px;
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.user-menu-wrap.open-menu {
  max-height: 400px;
}

.user-sub-menu {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 100%;
  border-radius: 50%;
  margin-right: 15px;
}

.user-sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 5px 0;
}

.user-sub-menu p {
  width: 100%;
}

.user-sub-menu img {
  width: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 3px;
  transition: transform 0.5s;
}

.sub-menu-link:hover {
  color: #3f3a3a;
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.testmanagement-submenu {
  display: none;
}

.dropbtn {
  background-color: #fff;
  color: rgb(12, 11, 11);
  padding: 10px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  /*font-weight: bold;*/
  border: none;
  cursor: pointer;
}

/* Style for dropdown content */
.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #ffffff;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for each content div */
.dropdown-content div {
  padding: 10px 5px;
}

/* Highlight dropdown options on hover */
.dropdown-content div:hover {
  background-color: #ccc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Highlight dropdown button when dropdown menu is open */
.dropdown:hover .dropbtn {
  background-color: #fff;
}

/************Main body**************/

.wrapper {
  margin: 70px auto;
  padding: 20px;
  height: 100%;
  width: 100%;
  /*background:  #e7e7e7; */
  border-radius: 5px;
  position: relative;
  transition: all 4s ease-in-out;
}

.wrapper h2 {
  margin-top: 16px;
  font-family: "Noto Serif";
  color: #333;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
/*.wrapper close{
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
  }*/

.wrapper .content {
  max-height: 100%;
  overflow: auto;
}

/* form design */

.container {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.09);
  /*font-family: 'DM Sans' , sans-serif;*/
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: rgb(208, 214, 214);
  margin-top: 10px;
  margin-left: 400px;
  margin-bottom: 16px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

form label {
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Noto Serif";
  /*font-weight: bold; */
  letter-spacing: 3px;
  margin-top: 25px;
  margin-left: -200px;
  display: flex;
  justify-content: left;
}

input[type="text"],
textarea {
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
  resize: none;
  width: 300px;
  height: 100px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -20px;
  margin-bottom: 20px;
}

input[type="text"] {
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
  width: 300px;
  height: 30px;
}

input[type="Save"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0c9d80d3;
  color: #fff;
  text-align: center;
  margin-left: 30px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

.input[type="Save"] .hover {
  background-color: #076452d3;
}
