body {
  font-family: "DM Sans", sans-serif;
}
.login-container {
  display: grid;
  grid-template-columns: 55fr 45fr;
}

.login-image {
  /* border: 2px solid red; */
  width: 100%;
  height: 43.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.start {
  cursor: pointer;
  position: fixed;
  top: 41rem;
  left: 17rem;
  font-weight: 600;
  width: 15rem;
  height: 2rem;
  border: 1px solid rgb(217, 77, 77);

  border-radius: 0.5rem;
}

.start:hover {
  background-color: rgb(209, 76, 76);
  color: #fff;
}

.logo-img {
  margin-left: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content-box {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

.login-content {
  /* box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075); */
  width: 80%;
  height: 80%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  /* align-items: center; */
  position: relative;
  /* top: 10%; */
  /* left: 40%; */
}

.logo-img {
  width: 50%;
}
.login-container {
  width: 95%;
}
/* .login-image-box {
  width: 80%;
} */

/* label {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
} */

.label-user {
  color: #6a6262;
}

.label-pass {
  color: #6a6262;
}

.login-here {
  text-transform: uppercase;
  margin-top: 20%;
  margin-left: 35%;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #504a4a;
  font-family: "Noto Serif", serif;
}

/* input {
  display: block;
  height: 1.5rem;
  width: 80%;
  background-color: rgba(41, 166, 192, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
} */

.input-user {
  display: block;
  height: 3.2rem;
  width: 90%;
  background-color: rgba(41, 166, 192, 0.07);
  border: none;
  border-radius: 3px;
  border-color: none;
  padding: 0 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}

.input-pass {
  display: block;
  height: 3.2rem;
  width: 90%;
  background-color: rgba(41, 166, 192, 0.07);
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #9b8686;
}

.password-instruction {
  color: #9b8686;
  font-size: 0.9rem;
}

.forgotpassword {
  width: 80%;
  display: flex;
  justify-content: end;
  /* border: 2px solid red; */
  align-items: end;
  font-size: 0.9rem;
  margin-left: 4.7rem;
  margin-bottom: 2.2rem;
  text-transform: none;
  color: #6a6262;
}

.forgotpassword:hover {
  color: #4797c5;
  /* transition-duration: 0ms; */
}

.btn-container-register {
  /* border: 2px solid black; */
  display: flex;
  /* align-items: center; */

  /* align-items: center; */

  margin-bottom: 1.5rem;
}

.loginpage-register-instruction {
  margin-right: 1rem;
  color: #9b8686;
  font-size: 1rem;
}

.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  width: 5.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #22bfe2;
  padding-left: 0;
  padding-right: 10px;
  border-radius: 6px;
}

.btn-container-login {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}

.login-button {
  display: flex;
  /* font-style: "DM Sans", sans-serif; */
  font-family: "DM Sans", sans-serif;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  text-decoration: none;
  height: 2rem;
  width: 5.2rem;
  /* margin-top: 50px; */
  width: 30%;
  background-color: #1a73e8;
  color: #e8e7f0;
  /* padding: 15px 0; */
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 9.5rem;
  /* margin-right: 2.2rem; */
}

.login-button:hover {
  background-color: #215fb1;
  transition: all 0.3s;
}

/************************/
/* Register style sheet */
/************************/
/******   REGISTRATION SECTION    ******/
/* body {
  font-family: "DM Sans", sans-serif;
} */

.registration-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

/* .registration-img-box {
  padding: 1.2rem;
} */

.registration-img {
  width: 100%;
  height: 580px;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 0;
}

.registration-form-box {
  font-family: "DM Sans", sans-serif;
  height: 70%;
  /* margin: 2rem; */
  /* padding: 0; */
  display: grid;
  place-items: center;
}

.registration-logo {
  height: 5.6rem;
  margin-bottom: 1rem;
}

.registration-form-heading {
  font-family: "Noto Serif", serif;
  margin-bottom: 0;
  font-size: 1.9rem;
}

.register-instruction {
  font-size: 1.7rem;
  font-weight: 600;
  color: #5e5959;
}

.register-form {
  display: grid;
  height: 70%;
  margin-top: 0;
  gap: 10px;
  /* padding: 20px; */
  background-color: #ffffff;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  width: 80%;
  max-width: 100%;
}

.form-input {
  font-family: "DM Sans", sans-serif;
  display: grid;
  align-items: center;
  gap: 10px;
}

.form-input input {
  font-family: "DM Sans", sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signin-link {
  font-family: "Noto Serif", serif;
  text-align: center;
  text-decoration: none;
}

.remember-me {
  font-family: "Noto Serif", serif;
  font-size: 0.8rem;
}

.signin-button {
  text-decoration: none;
  color: #4797c5;
}

/*********************************/
/* Trainer dashboard style sheet */
/*********************************/

/****************************** */
/*       Navigation Section     */
/****************************** */

/* Trainer dashboard */

.trainer-dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem;
}

.dashboard-container-box {
  border: 2px solid rgb(126, 121, 121);
  border-radius: 1rem;
  height: 14rem;
  width: 30rem;
  margin: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 1.2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.credit-usage span {
  margin-left: 10rem;

  font-size: 1.2rem;
  font-weight: 700;
}

.credit-usage-img {
  margin-top: 2rem;
}

.test-candidates span {
  margin-left: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.test-candidates img {
  margin-top: 3rem;
}

.schedule-test span {
  margin-left: 8rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.test-performers span {
  margin-left: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.short-listed span {
  margin-left: 11rem;

  font-size: 1.2rem;
  font-weight: 700;
}

table {
  margin-top: 1.5rem;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
tr {
  overflow: hidden;
}
td {
  width: 9.2rem;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table {
  overflow: hidden;
}

/* .scroll-bar {
  height: 100px;
  width: 130px;
  border: 1px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
} */

/****************************** */
/*Trainer dashboard Section     */
/****************************** */
/****************************** */
/*       Navigation Section     */
/****************************** */

/* Trainer dashboard ---------------------------------------------------*/

.trainer-dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem;
}

.dashboard-container-box {
  border: 2px solid rgb(126, 121, 121);
  border-radius: 0.5rem;
  height: 14rem;
  width: 35rem; /* -------------------------------------30rem */
  margin: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 1.2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.credit-usage span {
  margin-left: 10rem;

  font-size: 1.2rem;
  font-weight: 700;
}

.credit-usage-img {
  margin-top: 0rem;
  margin-left: 1rem; /* ----------------------------------------*/
}

.test-candidates span {
  margin-left: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.test-candidates img {
  margin-top: 3rem;
  margin-left: 4rem;
}

.schedule-test span {
  margin-left: 8rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.test-performers span {
  margin-left: 10rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.short-listed span {
  margin-left: 11rem;

  font-size: 1.2rem;
  font-weight: 700;
}

table {
  margin-top: 1.5rem;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td {
  width: 9.2rem;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dashboard-container-box:hover {
  transform: translate(-1.2rem);
  /* box-shadow: 0 3.2rem 4.4rem rgba(0, 0, 0, 0.3); */
  /* box-shadow: 3px 3px rgb(53, 51, 51), -1em 0 0.4em rgb(216, 216, 208); */
}

/****************************** */
/*Technology Creation Section     */
/****************************** */

/****************************** */
/*    Navigation Section  */
/****************************** */

.navigation-container {
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
}
.nav-bar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav-logo-image {
  height: 4rem;
}
.user-image {
  margin-right: 2.2rem;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}
.nav-bar.main-nav-list {
  width: 100%;
  text-align: right;
}
.main-nav-list {
  display: flex;
  list-style: none;

  gap: 3.2rem;
  align-items: center;
  padding-right: 9.5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s;
}

/* Sub menu down to Profile photo*/

.user-menu-wrap {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 250px;
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.user-menu-wrap.open-menu {
  max-height: 400px;
}

.user-sub-menu {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 100%;
  border-radius: 50%;
  margin-right: 15px;
}

.user-sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 5px 0;
}

.user-sub-menu p {
  width: 100%;
}

.user-sub-menu img {
  width: 20px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 3px;
  transition: transform 0.5s;
}

.sub-menu-link:hover {
  color: #3f3a3a;
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.testmanagement-submenu {
  display: none;
}

.dropbtn {
  background-color: #fff;
  color: rgb(12, 11, 11);
  padding: 10px;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  /*font-weight: bold;*/
  border: none;
  cursor: pointer;
}

/* Style for dropdown content */
.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #ffffff;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for each content div */
.dropdown-content div {
  padding: 10px 5px;
}

/* Highlight dropdown options on hover */
.dropdown-content div:hover {
  background-color: #ccc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Highlight dropdown button when dropdown menu is open */
.dropdown:hover .dropbtn {
  background-color: #fff;
}

.create-technology-button {
  text-decoration: none;
}

/************Main body**************/

.wrapper {
  margin: 70px auto;
  padding: 20px;
  height: 100%;
  width: 100%;
  /*background:  #e7e7e7; */
  border-radius: 5px;
  position: relative;
  transition: all 4s ease-in-out;
}

.wrapper h2 {
  margin-top: 16px;
  font-family: "Noto Serif";
  color: #333;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
/*.wrapper close{
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
  }*/

.wrapper .content {
  max-height: 100%;
  overflow: auto;
}

/* form design */

.create-tech-container {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.09);
  /*font-family: 'DM Sans' , sans-serif;*/
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: rgb(208, 214, 214);
  margin-top: 10px;
  margin-left: 400px;
  margin-bottom: 16px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

form label {
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Noto Serif";
  /*font-weight: bold; */
  letter-spacing: 3px;
  margin-top: 25px;
  margin-left: -200px;
  display: flex;
  justify-content: left;
}

input[type="text"],
textarea {
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
  resize: none;
  width: 300px;
  height: 100px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -20px;
  margin-bottom: 20px;
}

input[type="text"] {
  box-shadow: 0 2.4rem 4.8rem rgba(14, 1, 1, 0.075);
  width: 300px;
  height: 30px;
}

input[type="Save"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0c9d80d3;
  color: #fff;
  text-align: center;
  margin-left: 30px;
  padding: 15px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

.input[type="Save"] .hover {
  background-color: #076452d3;
}

/* ******************************
    Create Test
****************************** */

.task-conatiner {
  width: 50rem;
  height: 36rem;
  /* border: 2px solid rgb(224, 215, 215); */
  margin-top: 3rem;
  margin-left: 20rem;
  border-radius: 0.2rem;
  background-color: rgb(216, 216, 214);
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
/************************************heading test***************************/
.heading-test {
  font-size: 28px;
  font-family: "Noto Serif", serif;
  margin-left: 300px;

  margin-top: 2px;
  margin-bottom: 20px;
  color: #292929;
}

/******************************** TASK SECTION*****************************  */
.section-task {
  /* display: flex; */
  padding-top: 0.5px;
  padding-bottom: 2px;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-left: 2px;
  height: 3rem;
}
.task {
  /* max-width: 130rem; */
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 130px;
  /* padding: 0 2rem; */
  display: flex;

  gap: 9.6rem;
  align-items: center;
}
.dropbtnt {
  background-color: #0c9d80d3;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  width: 10rem;
  border-radius: 0.5rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f3f1f1;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #c9c7c7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtnt:hover {
  background-color: #076452d3;
}

/*/ ////////// Chat SECTION ////////// */
.chat-section {
  margin-left: 30px;
}
.chat-container {
  /* display: flex; */
  margin-left: 7px;
}
.test-heading {
  margin-left: 28px;
  margin-top: 0.5px;
  color: #292929;
}
.chat-box {
  margin-left: 1.5rem;
  font-family: "DM Sans", sans-serif;
}
.chat-box input {
  width: 41rem;
  padding: 2px;
  resize: none;
  height: 40px;
  font-size: 13px;
  border: none;
  background-color: #fff;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}

/***************************************** Chat SECTION 2 box ********************************************* */

.type-box {
  margin-left: 30px;
}
.container {
  display: flex;

  padding: 10px 20px 10px 20px;
  margin-left: 15px;
}

/* .textarea-container {
  flex: 1;
   margin: 10px; 
} */

.textarea-description h2 {
  text-align: left;
  font-family: "Noto Serif", serif;
  color: #292929;
}

.textarea-instruction h2 {
  text-align: left;
  font-family: "Noto Serif", serif;
  color: #292929;
}

.chat-container h2 {
  text-align: left;
  font-family: "Noto Serif", serif;
  color: #292929;
}
.textarea-description textarea {
  width: 300px;
  height: 150px;
  margin-right: 50px;
  background-color: #fff;
  border: none;
  font-family: "DM Sans", sans-serif;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
.textarea-instruction textarea {
  width: 300px;
  height: 150px;
  border: none;
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}
/* .textarea-container textarea { 
  width: 400px;
  resize: none;
  border: 1px solid #ccc;
   padding: 5px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 200px;
} */

button.save-next-button {
  background-color: #0c9d80d3; /* Green color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* position: absolute;
  right: 900px;
  bottom: 5px; */
  margin-left: 300px;
  margin-top: 1rem;
}
button.save-next-button:hover {
  background-color: #076452d3;
}

/****************************** */
/*    List Question Section     */
/****************************** */
